<div class="row container d-flex justify-content-center mx-auto w-80">
  <form action="/" method="POST">
    <div class="row m-3">
      <input type="text" name="originalUrl" class="form-control" value="{{inputUrl}}" placeholder="Input URL here" required>
    </div>
    <div class="text-center mb-5">
      <button class="btn btn-outline-primary" type="submit">Shorten</button>
    </div>
    {{#if shortUrl}}
    <div class="row m-3">
      <p class="fs-5 fw-bold">Success! Please use this link:</p>
      <div  class="alert alert-outline-primary" role="alert">
        <a href="{{shortUrl}}" class="alert-link">{{shortUrl}}</a>
      </div>
    </div>
    {{/if}}
  </form>
</div>