<div class="row container align-items-center">
  <form action="/" method="POST">
    <div class="row mb-3">
      <input type="url" name="originalUrl" class="form-control" placeholder="Input URL here" required>
    </div>
    <div class="text-center">
      <button class="btn btn-outline-primary" type="submit">Shorten</button>
    </div>
  </form>
</div>